.header {
    padding: 46px 0 56px;
}

.header__row {
    padding: 10px 20px;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--newColor2);
    border-radius: 10px;
}

.header__logo-link {
    justify-items: center;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
}
.header__logo__img {
    width: 60px;
}

.header__logo-text {
    background: linear-gradient(45deg, var(--textColor) 33%, var(--newColor1) 36%, var(--newColor3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--newColor1);
}

.header__nav {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.01em;
}
.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.header__nav-user {
    color: var(--newColor1);
    cursor: pointer;
}

.header__nav-userEmail {
    color: var(--newColor1);
    font-size: 15px;
}
.header__nav-userEmailEnter {
    transform: rotate(90deg);
    margin-top: 10px;
}
.header__nav-link {
    color: var(--newColor1);
}
.header__nav-btn-catalog {
    color: var(--newColor1);

}
.header__nav-btn-catalog-wrapper {
    position: relative;
}
.header__nav-btn-catalog-wrapper:hover .header__nav-catalog {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.header__nav-catalog {
    left: -70px;
    z-index: 10;
    margin-top: 10px;
    position: absolute;
    width: 280px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--newColor1);
    color: var(--newColor2);
    font-weight: bold;
    border: 3px solid var(--textColor);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
}

.header__nav-catalog::before{
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -17px;
    border: 0 solid transparent;
    right: 155px;
    border-right-width: 15px;
    border-left-width: 15px;
    border-bottom: 15px solid var(--textColor);
}
.header__nav-item-icon {
    margin-right: 7px;
}
.header__nav-item-link {
    color: var(--newColor2);
}

.header__nav-btn {
    padding: 13px 22px 13px;
    border-radius: 7px;
    background: var(--newColor1);
    color: var(--newColor2);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    display: block;
}
.header__nav-btn.passive {
    display: none;
}
.modal__login-container {
    display: flex;
    flex-direction: column;
}
.modal__login-title {
    color: var(--newColor2);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.modal__login-helpText {
    color: rgba(115, 179, 172, 0.85);
    padding: 6px;
    font-size: 16px;
}
.modal__login-login {
    background-color: var(--newColor2);
    width: 350px;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.modal__login-password {
    background-color: var(--newColor2);
    width: 350px;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.modal__login-submit {
    background-color: var(--newColor3);
    width: 175px;
    padding: 8px;
    border-radius: 5px;
    margin-right: 15px;
}
.modal__login-switch {
    background-color: var(--newColor3);
    width: 160px;
    padding: 8px;
    border-radius: 5px;
}
.modal__login-registration {
    background-color: var(--newColor3);
    width: 130px;
    padding: 8px;
    border-radius: 5px;
}
.modal__login-submit-wrapper {
    display: flex;
}
.header__nav-usermenu {
    z-index: 10;
    margin-top: 10px;
    position: absolute;
    right: 150px;
    width: 220px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--newColor1);
    color: var(--newColor2);
    font-weight: bold;
    border: 3px solid var(--textColor);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
}
.header__nav-usermenu.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.header__nav-usermenu-item {
    cursor: pointer;
}
