:root {
    --textColor: #14471e;
    --newColor1: #68904D;
    --newColor2: #c8d2d1;
    --newColor3: #ee9b01;
    --newColor4: #DA6A00;
    --newColor5: #73b3ac;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--newColor1);
}

.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
}
.main__toast-wrapper {

}

@font-face {
     font-family: TwinsesBlack;
    src: url("./fonts/Twinses/Twinses-regular.ttf");
}

@font-face {
    font-family: MoscowMetro;
    src: url("./fonts/Moscow Metro/MoscowMetro.otf");
}
@font-face {
    font-family: MoscowMetroColor;
    src: url("./fonts/Moscow Metro/MoscowMetroColor.otf");
}
