.promo {
    margin-bottom: 33px;
}

.promo__content {
    display: flex;
    column-gap: 110px;
    padding-top: 68px;
    padding-left: 120px;
    border-radius: 20px;
    background-color: var(--newColor3);
}

.promo__text {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.promo__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: var(--textColor);
    text-transform: uppercase;
}
.promo__title-line.up{
    padding: 9px 25px 9px 25px;
    max-width: 240px;
    color: var(--newColor3);
    border-radius: 5px;
    background: rgb(20, 71, 30);
}
.promo__title-line.mid{
    padding: 16px 9px 9px 25px;
    border-radius: 5px;
    max-width: 205px;
    color: var(--newColor5);
}
.promo__title-line.down{
    padding: 9px 9px 9px 25px;
    border-radius: 5px;
    max-width: 205px;
}

.promo__desc {
    margin-bottom: 32px;
    padding: 9px 9px 9px 25px;
    border-radius: 8px;
    font-weight: 900;
    font-size: 45px;
    letter-spacing: 0.1em;
    color: var(--newColor3);
    text-transform: uppercase;
    background: var(--textColor);
}

.promo__btn-wrapper {
    display: flex;
    column-gap: 34px;
    align-items: center;
}
.promo__btn-wrapper::before {
    content: "";
    display: inline-block;
    width: 65px;
    height: 80px;
    background-image: url("./../../../img/categories/Apple btn.svg");
}

.promo__btn {
    padding: 18px 40px;
    border-radius: 10px;
    letter-spacing: 5px;
    font-size: 50px;
    background: var(--textColor);
    color: var(--newColor3);
    text-transform: uppercase;
    font-family: TwinsesBlack;

}
